.modal {
 aspect-ratio: 16/9;
 background-color: #ffffff;
 position: relative;
 top: 15%;
 left: 25%;
 height: 500px;
 background-color: aliceblue;
}

.parent {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 overflow: auto;
}