.parent{
    width: 100vw;
    height: 100vh;
}

.bacHol1{
    background-image: url("../../../../img/holPlanet1.png");
    height: 100%;
    width: 100%;
}

.bacHol2{
    background-image: url("../../../../img/holPlanet2.png");
    height: 100%;
    width: 100%;
}

.mascot{
    background-image: url("../../../../img/mascotHol.png");
    width: 668px;
    height: 595px;
    position: absolute;
    top: 6%;
    left: 30%;
}

.dialog{
    padding-left: 30px;
    width: 925px;
    height: 188px;
    background-color: white;
    box-shadow: 0 3px 5px 2px rgba(0, 0,0, .3);
    border-radius: 7px;
    position: absolute;
    top: 490px;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    width: 740px;
}

.bntPos{
    position: absolute;
    top: 130px;
    left: 880px;
}

.dialogTitle{
    width: 185px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 420px;
    left: 20%;
}

.dialogTitleText{
    color: #00D29D;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
}