.main{
    margin-top: 100px;
}

.title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    margin-left: 110px;
    width: 600px;
}

.btnAdd{
    position: absolute;
    left: 1150px;
}

.discription{
    color: #F2F2F2;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    margin-left: 110px;
    width: 1000px;
}