:root {
 --color-importing-text: #00D29D;
}

.modal {
 aspect-ratio: 20/9;
 background-color: #ffffff;
 position: relative;
 top: 15%;
 left: 25%;
 height: 50%;
 border-radius: 10px;
}

.modalNameCompanion {
 display: flex;
 justify-content: center;
 align-items: center;

 background-color: white;
 aspect-ratio: 24/9;
 position: relative;
 left: 25%;
 top: 8%;
 height: 6%;
 border-radius: 10px;

 .nameCompanion {
  font-size: 150%;
  color: var(--color-importing-text);
 }

}

.parent {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 overflow: auto;
}

.authFormSub{
 color: rgb(180, 184, 193);
}

.authFormForm{
 width: 360px;
}

.avaPic{
 background-image: url("../../../img/ава.png");
 width: 143px;
 height: 143px;
 flex-shrink: 0;
 position: absolute;
 top: 50px;
 left: 325px;
}

.name{
 margin-top: 70px;
 width: 250px;
 margin-left: 25px;
}

.job{
 margin: 0;
 margin-left: 25px;
}

.infoNast{
 position: absolute;
 top: 125px;
 left: 860px;
}

.scrollBar{
 margin: 20px;
 padding: 15px;
 width: 150px;
 height: 50px;
 border: 1px solid #ccc;
 overflow: auto;
 damping: 0.2;
}

.noteHR{
 width: 629px;
 height: 318px;
}

.noteList{
 width: 150px;
 height: 50px;
}

