.auth{
    background-image: url("../../img/mainFon.png");
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm{
    width: 410px;
    height: 587px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.titulEnter{
    color: #00D29D;
    font-family: Montserrat;
    font-size: 32px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
}

.textField{
    width: 300px;
}

.form{
    margin-top: 128px;
    margin-bottom: 67px;
}

.btnEnter{
    width: 160px;
    height: 37px;
    padding: 0;
    border: 0;
    border-radius: 30px;
    background: #00C996;

    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 10px;
}

.fon{
    background-image: url("../../img/authFon1.png");
    width: 470px;
    height: 647px;
    display: flex;
    justify-content: center;
    align-items: center;
}