.main{
    margin-top: 17px;
}

.title{
    width: 552px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.text{
    width: 520px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 31px;
    padding: 0;
}
