.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    text-decoration: none;
    margin-right: 30px;
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}


